@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #f59e0b;
  --color-accent: #14b8a6;
  --color-dark: #111827;
  --color-light: #f3f4f6;
  --color-white: #ffffff;
  --color-black: #000000;

  --font-sans: "Poppins", sans-serif;
  --font-serif: "Merriweather", serif;
}

body {
  font-family: var(--font-sans);
  padding-top: 60px;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: var(--font-serif);
}

@layer {
  .btn-primary {
    background-color: #1e3a8a;
    color: #14b8a6;
    border-radius: 1rem;
    padding: 0.75rem;
    text-align: center;
    cursor: pointer;
    outline: none;
  }

  .btn-primary:hover {
    background-color: #14b8a6;
    color: #1e3a8a;
  }

  .btn-primary:active {
    /* background-color: #3e8e41; */
    box-shadow: 0 5px 2px 2px #669f99;
    transform: translateY(4px);
  }
}
